@tailwind base;
@tailwind components;
@tailwind utilities;


/* Override DaisyUI dropdown behavior */
.dropdown-modal-open .dropdown-content {
    visibility: visible !important;
    opacity: 1 !important;
    --tw-scale-x: 1 !important;
    --tw-scale-y: 1 !important;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate))
    skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y)) !important;
}

/* Ensure dropdown stays open when clicking inside it */
.dropdown-open .dropdown-content,
.dropdown-open:focus-within .dropdown-content {
    visibility: visible !important;
    opacity: 1 !important;
    --tw-scale-x: 1 !important;
    --tw-scale-y: 1 !important;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate))
    skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y)) !important;
}




